<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Enter Room</title>
</head>
<body>
<h1>Enter Room</h1><br>
<form action="" method="POST">
    {% csrf_token %}
    <input id="room-name-input" type="text" placeholder="room_name" name="room" size="100"><br>
    <button id="room-name-submit" type="submit">Enter</button>
</form>
<a href="{% url 'user_profile' pk=user.id %}">Профиль</a>
<a href="{% url 'users_list' %}">Список пользователей</a>
<a href="{% url 'rooms_list' %}">Список комнат</a>
    <script>
        document.querySelector('#user-name-input').focus();
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };
    </script>
</body>
</html>