<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
{% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
    {% if user.profile_pic %}
        <td><img src="{{ user.profile_pic.url }}" height="100px" width="100px"></td>
    {% else %}
        <td>No photo</td>
    {% endif %}
        <td><a href="{% url 'room' room_name=user.random_string %}">Написать сообщение</a></td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'index' %}">На главную</a>
</body>
</html>