<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<p><strong>Username:</strong> {{ user.username }}</p><br><br>
{% if user.profile_pic %}
        <img src="{{ user.profile_pic.url }}" alt="Profile Picture" height="100px" width="100px">
    {% else %}
        <p>No profile picture available</p>
    {% endif %}
<p><a href="{% url 'create_user_profile' pk=user.id %}">Редактировать профиль</a></p>
<a href="{% url 'index' %}">На главную</a>
</body>
</html>