<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
        td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
    </style>
</head>
<body>
<table>
    <tr>
        <th>room name</th>
        <th>created by</th>
        <th>action</th>
    </tr>
    {% for room in rooms %}
    <tr>
        <td><a href="{% url 'room' room_name=room.room_name %}">{{ room.room_name }}</a></td>
        <td>{{ room.created_by.username }}</td>
        {% if room.created_by == user %}
        <td><a href="{% url 'delete_room' pk=room.id %}">delete</a></td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% endfor %}
    </tr>
</table>
<a href="{% url 'index' %}">На главную</a>
</body>
</html>